APP_URL=https://kinmu.example.com
APP_PORT=3100
APP_VERSION=0.3.0
POSTGRES_DB=kinmu
POSTGRES_USER=kinmu
POSTGRES_PASSWORD=replace-with-a-long-random-password
SESSION_SECRET=replace-with-at-least-32-random-characters
SOURCE_CODE_URL=https://github.com/xkazuchika/Kinmu-OS
